.logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 26px, 1.2);
  color: $base-color;
  text-decoration: none;
  margin-right: 50px;
  display: block;
    &__span {
    color: #2196f3;
  }
    &__studio {
    color: white;
  }
}
.footer {
  .logo {
  margin-bottom: 20px;
  margin-right: 0;
}
}
