.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #212121;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 50px;
  display: block;
}

.logo__span {
  color: #2196f3;
}

.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
}

.logo__studio {
  color: white;
}