
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: rotate(180deg) scale(1.25);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms;

  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.finish {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #2196f3;
}

.finish-icon {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}


.finish:focus .finish-icon,
 .finish:hover .finish-icon {
  fill: currentColor;
}







.modal-form {
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus,
.modal-comment:hover,
.modal-comment:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  outline: none;
}
.modal-input:focus + .input-name-svg,
.modal-input:hover + .input-name-svg {
  fill: #2196f3;
}
.modal-input:focus + .input-phone-svg,
.modal-input:hover + .input-phone-svg {
  fill: #2196f3;
}

.modal-input:focus + .input-mail-svg,
.modal-input:hover + .input-mail-svg {
  fill: #2196f3;
}

.icon-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

.input-name-svg,
.input-phone-svg,
.input-mail-svg {
  position: absolute;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  margin-bottom: 10px;
}

.modal-comment {
  resize: none;
  width: 448px;
  height: 120px;

  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment {
  margin-bottom: 20px;
}
.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-checkbox {
  position: relative;
  text-align: center;
}

.checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-text .icon-contract {
  
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.contract-check:checked + .checkbox-text .icon-contract {
  background-color: #2196f3;
  border: none;
}

.contract-check:checked + .checkbox-text .icon-contract .icon-check {
  fill: #ffffff;
}

.contract-check:focus + .checkbox-text .icon-contract,
 .contract-check:hover + .checkbox-text .icon-contract {
  border: 2px solid #2196f3;
  outline: none;
}


.checkbox-link {
  color: #2196f3;
}
.icon-check {
  fill: transparent;
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}