.our-work {
  list-style: none;
  display: flex;
  justify-content: space-between;
}


.our-work__item {
  margin-right: 30px;
}

.our-work__item:last-child {
  margin-right: 0px;
}

.our-work__content {
  position: relative;
}
.our-work__title {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding: 27px;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


