.traits {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.traits__item {
  margin-right: 30px;
  width: 270px;
    &:last-child {
    margin-right: 0px;
  }
}
.traits__picture {
  width: 270px;
  height: 120px;
  background-color: $bg-color-light;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.traits__title {
  @include font(700, 14px, 1.1);
  text-transform: uppercase;
  color: $base-color;
  margin-bottom: 10px;
}
.traits__text {
  @include font(null, 14px, 1.7);
  color: $contact-color;
}